<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (DangerChildContent != null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            <span>Hello, from empty Render fragment from danger content</span>
        }
        @if(ChildContent != null)
        {
            <span>@ChildContent</span>
        }
        else
        {
            <span>Hello, from empty Render fragment</span>
        }
    </div>
<button class="btn btn-danger" @onclick="OnButtonClick">Button To be Clicked</button>
</div>
@code {
    [Parameter]
    public string Title{ get; set; }
    [Parameter]
    public RenderFragment ChildContent{ get; set; }
    [Parameter]
    public RenderFragment DangerChildContent{ get; set; }
    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}
