@page "/learnBlazor/bindProp"
<h3>Product</h3>
Name: @Product.Name<br/>
Available: @Product.IsActive<br/>
Price: @Product.Price<br />
New Price:
<input type="number" @bind-value="@Product.Price" @bind-value:event="oninput"/>
<br />

@code {
    Tangy_Models.LearnBlazorModels.Demo_Product Product = new()
    {
    Id=1,
    Name="Rose candle",
    Price=10.99,
    IsActive=true
    };
}
