@page "/learnBlazor/parentComponent";
<h3>Parent Child relation</h3>
<_ChildComponent OnButtonClick="ShowMessage" Title="This ttle is passed as parameter from parent component">
    <ChildContent>Render Fragment from parent :WEoooo</ChildContent>
   @* <DangerChildContent>Danger content from parents</DangerChildContent>*@
</_ChildComponent>
<p><b>@messageText</b></p>
<_AnotherChildComponent Inputattributes="InputattributesFromParent"></_AnotherChildComponent>
@*<_ChildComponent  Title="This is second child component">

</_ChildComponent>*@

@code {
    public Dictionary<string, object> InputattributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required","required"},
         {"placeholder","Enter Name From Parent"},
         {"maxlength",5}
    };
    public string messageText = "";
    private void ShowMessage()
    {
        messageText = "Button clicked from child Component";
    }
}
